
body {
    background-color: #ecf9f8;
    margin: 0;
    overflow: hidden;
    a {
        text-transform: none;
        color: inherit;
    }
}

.headerBar {
    position: absolute;
    z-index: -5;
    top: -40px;
    left: -5px;
    background-color: #3B445B;
    width: 120%;
    height: 100px;
    transform: rotate(-2deg);
}

.bds-title {
    margin-top: 15%;
    color: #3B445B;
    text-align: center;
    h1, h2, h3 {
        font-size: 2.2em;
    }
    p, span {
        font-size: 1.9em;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 1.4em;
    color: #3B445B;
    text-align: center;
}

@media (max-width: 768px) {
    .headerBar {
        margin-top: 0;
        height: 60px;
    }
    .footer {
        font-size: 1.1em;
    }
}