{% extends 'globals/default.twig' %}

{% block title %}Forbidden access | {{ parent() }}{% endblock %}

{% block body %}

    <span class="headerBar"></span>

    <div class="container">
        <div class="bds-title">
            <h1>Error 403 : Forbidden access</h1>
            <br>
            <span>
                You do not have permission to access this web page.
            </span>
        </div>
    </div>

    <footer class="footer">
        <span class="text-center">BDS Framework | Version 1.0 | 2017</span>
    </footer>

{% endblock %}