{% extends 'globals/default.twig' %}

{% block title %}Gateway Time-out | {{ parent() }}{% endblock %}

{% block body %}

    <span class="header"></span>

    <div class="block-center">
        <h1>Error 504 : Gateway Time-out</h1>
        <span>
            Waiting time for a response from the elapsed server.
        </span>
    </div>

    <footer>
        <span>BDS Version 1.0 | 2017</span>
    </footer>

{% endblock %}