{% extends 'globals/default.twig' %}

{% block title %}Method Not Allowed | {{ parent() }}{% endblock %}

{% block body %}

    <span class="headerBar"></span>

    <div class="container">
        <div class="bds-title">
            <h1>Error 405 : Method Not Allowed</h1>
            <br>
            <span>
                Are you sure the website url is correct ? <br>
            If problem persist, please get in touch the site owner.
            </span>
        </div>
    </div>

    <footer class="footer">
        <span class="text-center">BDS Framework | Version 1.0 | 2017</span>
    </footer>

{% endblock %}