{% extends 'globals/default.twig' %}

{% block title %}Internal server error | {{ parent() }}{% endblock %}

{% block body %}

    <span class="header"></span>

    <div style="margin-top: 80px;" class="">
        <h1>Error 500 : Internal server error</h1>
        <span style="font-family: 'Courier New'; font-size: 0.80em;">
            {% if(exception == false) %}
                Unexpected error... <br>
                An error occurred and your request couldn't be completed. Please try again.
            {% else %}
                [ {{ className }} ] <br>
                {{ exception }}
            {% endif %}
        </span>
    </div>

    <footer>
        <span>BDS Version 1.0 | 2017</span>
    </footer>

{% endblock %}