{% extends 'globals/default.twig' %}

{% block title %}Gateway Time-out | {{ parent() }}{% endblock %}

{% block body %}

    <span class="headerBar"></span>

    <div class="container">
        <div class="bds-title">
            <h1>Error 504 : Gateway Time-out</h1>
            <br>
            <span>
                Waiting time for a response from the elapsed server.
            </span>
        </div>
    </div>

    <footer class="footer">
        <span class="text-center">BDS Framework | Version 1.0 | 2017</span>
    </footer>

{% endblock %}