{% extends 'globals/default.twig' %}

{% block title %}Database example{% endblock %}

{% block body %}

    <span class="headerBar"></span>

    <div class="container">
        <div class="bds-title">
            <h1>Database example</h1>

            <hr>

            <ul class="list-group">
            {% for key, bookmark in bookmarks %}

                <li class="list-group-item"><a href="http://{{ bookmark.url }}" target="_blank">#{{ bookmark.id }} {{ bookmark.nom }}</a></li>
                <br/>

            {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}