{% extends 'globals/default.twig' %}

{% block title %}Authentication required{% endblock %}

{% block body %}

    <div class="header"></div>

    <div class="block-center">
        <h1>Authentication required</h1>
        <form action="" method="post">
            <input type="text" name="username" placeholder="Username...">
            <input type="password" name="password" placeholder="Password...">

            <br>

            <input type="submit" value="Login">
        </form>
    </div>

{% endblock %}