{% extends 'globals/default.twig' %}

{% block title %}Postgresql{% endblock %}

{% block body %}

    <div class="block-center">
        <h1>Test connexion à Postgresql</h1>
    </div>

{% endblock %}