{% extends 'globals/default.twig' %}

{% block title %}Test Validator{% endblock %}

{% block body %}

    <span class="headerBar"></span>

    <div class="container">
        <div class="bds-title">
            <h1>Test validator</h1>
            <span><a href="{{ path('homePage') }}">Back to home page</a></span>
        </div>
    </div>

{% endblock %}