{% extends 'globals/default.twig' %}

{% block title %}Test Validator{% endblock %}

{% block body %}

    <div class="block-center">
        <h1>Test validator</h1>
        <span><a href="{{ path('homePage') }}">Back to home page</a></span>
    </div>

{% endblock %}